.bg-white{
    background-color: #ffffff;
}

.bg-black{
    background-color: #000000;
}

.bg-crimson{
    background-color: #dc143c;
}

.bg-gray{
    background-color: #9d9d9d;
}

.bg-dark-gray{
    background-color: #2c2c2c;
}

.bg-mid-gray{
    background-color: #4d4d4d;
}

.bg-wheat{
    background-color: #f5deb3;
}

.bg-aliceblue{
    background-color: #f0f8ff;
}

.bg-yellow{
    background-color: #ffff00;
}

.bg-disney{
    background-color: #081146;
}
.bg-prime{
    background-color: #219bff;
}
.bg-prime-video{
    background-color: #00050d;
}
.bg-netflix{
    background-color: #000000;
}
.bg-freenet{
    background-color: #21314d;
}
.bg-mobilcom-debitel{
    background-color: #85ba34;
}



